JWT_SECRET=feur
JWT_SECRET_ACCESS=feur
JWT_SECRET_REFRESH=feur

POSTGRES_USER=postuser
POSTGRES_PASSWORD=1234
POSTGRES_DB=pong

FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
FORTYTWO_CALLBACK_URL=http://localhost:5001/auth/42/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:5001/auth/github/callback

DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@trsc_db:5432/$POSTGRES_DB

REACT_APP_URL_FRONTEND=http://localhost:5173
REACT_APP_URL_BACKEND=http://localhost:5001