@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url('background-t.svg'); /* Chemin vers votre image */
	background-size: cover;
	background-position: center;
	height: 100vh;
}

@layer base {
	.font-outline-2 {
	text-shadow:
		0 0 5px #fff,
		0 0 10px #fff,
		0 0 20px #fff,
		0 0 40px #EF1FEA,
		0 0 80px #EF1FEA,
		0 0 90px #EF1FEA,
		0 0 100px #EF1FEA,
		0 0 150px #EF1FEA;
		}
}